/*============================= Start Global Rules =============================*/
:root {
  --main-color: #2196f3;
  --alt-color: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Start Components */
.main-title {
  margin: 0 auto 80px;
  padding: 10px 20px;
  border: 2px solid #000;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  background-color: var(--main-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}

.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
  -webkit-animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
  -webkit-animation: right-move 0.5s linear forwards;
}

.main-title:hover {
  color: #fff;
  border: 2px solid #fff;
  transition-delay: 0.5s;
  cursor: pointer;
}
/* End Components */

/*============================= Start Global Rules =============================*/

/*============================= Start Header =============================*/
.header {
  background-color: #fff;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.header .logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 50px;
  }
}

.header .main-nav {
  display: flex;
}

@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}

.header .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}

.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: #000;
  padding: 0 30px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  overflow: hidden;
}

@media (max-width: 767px) {
  .header .main-nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 30px;
  }
}

.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #eee;
}

.header .main-nav > li > a:hover::before {
  left: 0;
}

.header .mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 30px;
  background-color: #fff;
  border-bottom: 2px solid var(--main-color);
  z-index: -1;
  opacity: 0;
  display: flex;
  gap: 40px;
  top: calc(100% + 50px);
  transition: top var(--main-transition), opacity var(--main-transition);
  -webkit-transition: top var(--main-transition), opacity var(--main-transition);
  -moz-transition: top var(--main-transition), opacity var(--main-transition);
  -ms-transition: top var(--main-transition), opacity var(--main-transition);
  -o-transition: top var(--main-transition), opacity var(--main-transition);
}

@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 20px;
  }
}

.header .mega-menu .image img {
  max-width: 100%;
}

@media (max-width: 991px) {
  .header .mega-menu .image img {
    display: none;
  }
}

.header .mega-menu .links {
  min-width: 240px;
  flex: 1;
}

.header .mega-menu .links li {
  position: relative;
}

.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}

@media (max-width: 767px) {
  .header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}

.header .mega-menu .links li::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--alt-color);
  z-index: -1;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.header .mega-menu .links li:hover::before {
  width: 100%;
}

.header .mega-menu .links li a {
  color: var(--main-color);
  display: block;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}

.header .mega-menu .links li a i {
  margin-right: 10px;
}

.header .mega-menu .links li:hover a,
.header .mega-menu .links li:hover a i {
  color: #fff;
}

/*============================= End Header =============================*/

/*============================= Start landing =============================*/
.landing {
  position: relative;
}

.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  -webkit-transform: skewY(-6deg);
  -moz-transform: skewY(-6deg);
  -ms-transform: skewY(-6deg);
  -o-transform: skewY(-6deg);
  transform-origin: top left;
}

.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}

.landing .text {
  flex: 1;
}

@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}

.landing .text h1 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -2px;
}

@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 28px;
  }
}

.landing .text p {
  font-size: 22px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #777;
  max-width: 500px;
}

@media (max-width: 991px) {
  .landing .text p {
    margin: 10px auto;
  }
}

@media (max-width: 767px) {
  .landing .text p {
    font-size: 18px;
  }
}

.landing .image img {
  position: relative;
  width: 600px;
  animation: up-and-down 3s linear infinite;
  -webkit-animation: up-and-down 3s linear infinite;
}

@media (max-width: 991px) {
  .landing .image {
    display: none;
  }
}
.landing .go-down {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.landing .go-down:hover {
  color: var(--alt-color);
}

.landing .go-down i {
  animation: bouncing 1.5s infinite;
  -webkit-animation: bouncing 1.5s infinite;
}
/*============================= End landing =============================*/

/*============================= Start Articles =============================*/
.articles {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.articles .box {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  background-color: #fff;
  overflow: hidden;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: transform var(--main-transition),
    box-shadow var(--main-transition);
  -webkit-transition: transform var(--main-transition),
    box-shadow var(--main-transition);
  -moz-transition: transform var(--main-transition),
    box-shadow var(--main-transition);
  -ms-transition: transform var(--main-transition),
    box-shadow var(--main-transition);
  -o-transition: transform var(--main-transition),
    box-shadow var(--main-transition);
}

.articles .box:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.articles .box img {
  max-width: 100%;
}

.articles .box .content {
  padding: 20px;
}

.articles .box .content h3 {
  margin: 0;
}

.articles .box .content p {
  margin: 10px 0 0;
  line-height: 1.5;
  color: #777;
}

.articles .box .info {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articles .box .info a {
  color: var(--main-color);
  font-weight: bold;
}

.articles .box .info i {
  color: var(--main-color);
}

.articles .box:hover .info i {
  animation: moving-arrow 0.5s linear infinite;
  -webkit-animation: moving-arrow 0.5s linear infinite;
}
/*============================= End Articles =============================*/

/*============================= Start Animation=============================*/
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}

@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
  }
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}

@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
  }
}
/*============================= End Animation =============================*/
